{% extends "base.html" %}

{% set title = 'Obfuscation!' %}
{% set escaped = '{{' %}

{% block headscript %}
<script type="text/javascript">
    eval(function(p,a,c,k,e,r){e=function(c){return c.toString(a)};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('2 3(a){4(a=="5!6"){0("7-8.");9("b",{1:c.d(\'1\').e})}f 0("g! h i.")}',19,19,'alert|pass|function|verify|if|o|aZz4v|Aww|right|post||{{ url_for('verify', sender='obfuscation') }}|document|getElementById|value|else|NOPE|Try|again'.split('|'),0,{}))
</script>
{% endblock %}

{% block top %}
<h1>JavaScript Hacking</h1>
<h2>Obfuscation!</h2>
{% endblock %}

{% block body %}

<p>...Well, say bye to the nice syntax.</p>
Password: <input type="password" id="pass" />
<button onclick="verify(document.getElementById('pass').value)">Check Password</button>
</div>
{% endblock %}
